<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= create ? 'Create' : 'Edit'%> Recipe</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://kit.fontawesome.com/3d1ee2f586.js" crossorigin="anonymous"></script>
</head>
<body data-id="<%=recipe._id%>">
	<header class="createEditHeader">
		<span class="submit icon fa-solid fa-share-from-square header" data-id="<%=recipe._id%>"></span>
		<a href="/recipes/myRecipes" class="icon header exitEdit"><span class="fa-solid fa-xmark icon"></span></a>
		<h1><%= create ? 'Create' : 'Edit'%> Recipe</h1>
		<a class="myRecipes icon header" href="/recipes/myRecipes"><span class="fa-solid fa-user icon"></span></a>
		<a class="logout icon header" href="/logout"><span class="fa-solid fa-arrow-right-from-bracket icon"></span></a>
	</header>
	<input type="text" name="recipeName" class="recipeName" value="<%= create ? '' : recipe.name%>" placeholder = "Recipe Name">
	<div class="listHeaders">
		<h2>Ingredients</h2>
		<h2>Steps</h2>
	</div>
	<ul class="ingredientsList">
		<% for (const ingredient of recipe.ingredients) {%>
		<li>
			<input type="text" class="ingredient" value="<%=ingredient%>">
			<span class="icon delete fa-solid fa-trash"></span>
		</li>
		<% } %>
	</ul>
	<ol class="stepsList">
		<% for (const step of recipe.steps) {%>
		<li>
			<input type="text" class="step" value="<%=step%>">
			<span class="icon delete fa-solid fa-trash"></span>
		</li>
		<% } %>
	</ol>
	<div class="ingredientInputDiv">
		<input type="text" placeholder="Ingredient" class="ingredientInput">
		<span class="icon fa-solid fa-plus addIngredient"></span>
	</div>
	<div class="stepInputDiv">
		<input type="text" placeholder="Step" class="stepInput">
		<span class="icon addStep fa-solid fa-plus"></span>
	</div>

	<script src="/js/main.js"></script>
</body>
</html>