<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>Recipes Feed</title>
	<script src="https://kit.fontawesome.com/3d1ee2f586.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<span class="username header">Logged in as <%=user.userName%></span>
		<h1>Recipes Feed</h1>
		<a class="logout icon header" href="/logout"><span class="fa-solid fa-arrow-right-from-bracket icon"></span></a>
		<a class="myRecipes icon header" href="/recipes/myRecipes"><span class="fa-solid fa-user icon"></span></a>
	</header>
	<ul class="recipes">
	<% for(let i = 0; i < recipes.length; i++) {%>
		<% let recipe = recipes[i] %>
		<% let numLikes = recipe.likes.length %>
		<li class="recipe" data-id="<%=recipe._id%>" data-user="<%=user.userName%>">
			<a href="/recipes/viewRecipe/<%=recipe._id%>" class="recipeName"><%= recipe.name %> <span class="byline">by <%=recipe.userName%></span></a>
			<span class="createdTimestamp">Created <%=recipe.createdAt.toString().substring(4, 10) %>, <%=recipe.createdAt.toString().substring(11, 15)%></span>
			<span class="like icon fa-solid fa-fire <%=recipe.likes.includes(user.userName) ? 'clicked' : 'unclicked'%>"></span>
			<a href="/recipes/viewRecipe/<%=recipe._id%>" class="comment icon"><span class="icon fa-regular fa-comments"></span></a>
			<span class="likes" data-num="<%=numLikes%>">Likes: <%=numLikes%></span>
			<ul class="likesList hidden">
				<% for(const like of recipe.likes) { %>
					<li class="likeUser <%=like%>">
						<span><%=like%></span>
					</li>
				<% } %>
			</ul>
			<a href="/recipes/viewRecipe/<%=recipe._id%>" class="commentLink"><span class="comments">Comments: <%=numCommentsArray[i]%></span></a>
		</li>
	<% } %>
	</ul>

	<script src="/js/main.js"></script>
</body>

</html>