<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<title><%=recipeToRender.name%></title>
</head>
<body data-id="<%=recipeToRender._id%>">
	<h1><%=recipeToRender.name%></h1>
	<h4>Ingredients: </h4>
	<ul class="ingredients ingredientsList">
		<% for(const ingredient of recipeToRender.ingredients) {%>
		<li class="ingredient">
			<span><%= ingredient %></span>
		</li>
		<% } %>
	</ul>
	<h4>Steps: </h4>
	<ol class="steps stepsList">
		<% for(const step of recipeToRender.steps) {%>
		<li class="step">
			<span><%= step %></span>
		</li>
		<% } %>
	</ol>
	<a class="editRecipe" href="/createEditRecipe/<%=recipeToRender._id%>">Edit</a>
	<button class="deleteFromView">Delete</button>
	<script src="/js/main.js"></script>
</body>
</html>