<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<title><%=recipeToRender.name%></title>
	<script src="https://kit.fontawesome.com/3d1ee2f586.js" crossorigin="anonymous"></script>
</head>
<body data-id="<%=recipeToRender._id%>">
	<header class="viewHeader">
		<h1><%=recipeToRender.name%></h1>
		<a class="editRecipe icon header" href="/recipes/createEditRecipe/<%=recipeToRender.id%>"><span class="fa-solid fa-pen"></span></a>
		<span class="icon fa-solid fa-trash deleteFromView header"></span>
		<a class="myRecipes icon header" href="/recipes/myRecipes"><span class="fa-solid fa-user icon"></span></a>
		<a class="logout icon header" href="/logout"><span class="fa-solid fa-arrow-right-from-bracket icon"></span></a>
	</header>
	<span class="likes">Likes: <%=numLikes%></span>
	<ul class="likesList hidden">
		<% for(const like of recipeToRender.likes) { %>
			<li class="likeUser">
				<span><%=like%></span>
			</li>
		<% } %>
	</ul>
	<ul class="viewList ingredients">
		<h4>Ingredients: </h4>
		<% for(const ingredient of recipeToRender.ingredients) {%>
		<li class="ingredient">
			<span><%= ingredient %></span>
		</li>
		<% } %>
	</ul>
	<ol class="steps viewList">
		<h4>Steps: </h4>
		<% for(const step of recipeToRender.steps) {%>
		<li class="step">
			<span><%= step %></span>
		</li>
		<% } %>
	</ol>

	<script src="/js/main.js"></script>
</body>
</html>